*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
html{
    font:normal 16px sans-serif;
    color:#555;
}

/* Header */

header{
    position: absolute;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 100px 0px;
    animation:1s fadein 0.5s forwards;
    opacity: 0;
}
@keyframes fadein{
    100%{
        opacity: 1;
    }
}
@media (max-width:800px){
    header{
        padding: 50px 20px;
        flex-direction: column;
    }
    header h2{
        margin-bottom: 15px;
    }
}
header nav{
    display: flex;
    margin-right: -15px;
}
header nav li{
    margin:0px 15px;
}
header h2{
    font-family: "Quicksand", sans-serif;
}
ul,
nav{
    list-style:none;
}
a{
    text-decoration: none;
    opacity: 0.75;
    color: white;
}
a:hover{
    opacity: 1;
}
a.btn{
    opacity:1;
    border-radius:4px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: #3f51b5;
}

section{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 100px 80px;
}
@media (max-width:800px){
    section{
        padding: 50px 20px;
    }
}
section:not(.hero):nth-child(even){
    background-color: #f5f5f5;
}
.hero{
    position: relative;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
}
.hero .background-image{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    background-color: #80a3db;
}
.hero h1{
    font: bold 60px "Open sans", sans-serif;
    margin-bottom: 15px;
    color: white;
}
.hero h3{
    font: normal 28px "Open sans", sans--serif;
    margin-bottom: 60px;
    color: white;
}
.hero a.btn{
    padding: 20px 46px;
}
.hero-content-area{
    margin-top:100px;
    opacity:0;
    animation:1s slidefade 0.5s forwards;
}
@keyframes slidefade{
    100%{
        opacity:1;
        margin: 0px;
    }
}
@media (max-width:800px)
{
    .hero{
        min-height: 600px;
    }

    .hero h1{
        font-size: 48px;
    }
    .hero h3{
        font-size: 24px;
    }
    .hero a.btn{
        padding: 15px 40px;
    }
}
.grid{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
hr{
    width: 250px;
    height: 3px;
    background-color: #3f51b5;
    border: 0;
    margin-bottom: 50px;
}

section h3.title{
    font: bold 32px "Open Sans",sans-serif;
    text-transform: capitalize;
    margin-bottom: 30px;
    text-align: center;
}
section p{
    padding: 0 20px;
    line-height: 2;
    margin-bottom: 30px;
    max-width: 870px;
    text-align: center;
    font-size: 1.2em;
}

/* Destination Section */

.destination .grid li{
    height: 350px;
    padding: 20px;
    background-clip: content-box;
    background-size: cover;
    background-position: center; 
}

.destination .grid li.small{
    flex-basis: 30%;
}
.destination .grid li.large{
    flex-basis: 70%;
}

@media (max-width:1100px){
    .destination .grid li.small,
    .destination .grid li.large{
        flex-basis: 50%;
    }
}
@media (max-width:800px){
    .destination .grid li.small,
    .destination .grid li.large{
        flex-basis: 100%;
    }
}
/* Package Section */

.packages .grid li{
    padding: 50px;
    flex-basis: 50%;
    text-align: center;
}
.packages .grid li i{
    color:#8c9eff;
}
.packages .grid li h4{
    font-size: 30px;
    margin: 25px 0;
}

@media (max-width: 800px){
    .packages .grid li{
        flex-basis: 100%;
        padding: 20px;
    }
}

/* Testimonials */

.testimonials .quote{
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    margin:40px 0 25px;
}


@media (max-width:800px){
 .testimonials .quote{
     font-size: 18px;
     margin: 15px 0;
 }   
}
@media (max-width:800px){
 .testimonials .author{
     font-size: 14px;
 }   
}
/* Contact */

.contact form{
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
}
.contact form .btn{
    padding: 18px 42px;
}
.contact form input{
    padding: 15px;
    margin-right: 30px;
    font-size: 18px;
    color: #555;
    flex:1;
  

}
@media (max-width: 1000px){
.contact form input{
    flex-basis: 100%;
    margin: 0 0 20px 0;
}
}

/* Footer Section */

footer{
    display: flex;
    height: 25vh;
    text-align: center;
    justify-content: space-around;
    background-color: #607d8b;
    color: #fff;
    padding: 20px 0;
}
footer ul{
    display: flex;
}
footer ul li{
  align-self: center;
  padding: 0 8px;
}
footer p{
    font-size: 22px;
    text-transform: uppercase;
    opacity: 0.6;
    align-self: center;
} 

@media (max-width:1100px){
    footer{
        flex-direction: column;
        padding: 40px 0;
        align-items: center;
    }
    footer p{
        text-align: center;
        margin-bottom: 14px;
        font-size: 18px;
    }
    footer ul li{
        margin: 10px 8px;
        padding: 0px;
    }
    /* footer ul{
        margin-left: 120px;
    } */
}
